[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/hyperlane-quickstart"]
	path = lib/hyperlane-quickstart
	url = https://github.com/TyphoonCashX/hyperlane-quickstart
[submodule "lib/ccip-cross-chain-name-service"]
	path = lib/ccip-cross-chain-name-service
	url = https://github.com/TyphoonCashX/ccip-cross-chain-name-service
