[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
[submodule "lib/hyperlane-quickstart"]
	path = lib/hyperlane-quickstart
	url = https://github.com/TyphoonCashX/hyperlane-quickstart
[submodule "lib/ccip-cross-chain-name-service"]
	path = lib/ccip-cross-chain-name-service
	url = https://github.com/TyphoonCashX/ccip-cross-chain-name-service
[submodule "lib/sismo-connect-solidity"]
	path = lib/sismo-connect-solidity
	url = https://github.com/sismo-core/sismo-connect-solidity
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	branch = v4.9.2
